<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_9" version="2.4">
  <display-name>Struts Blank</display-name>
  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.ama.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Login</filter-name>
    <filter-class>com.ama.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NoLogin</filter-name>
    <filter-class>com.ama.filter.NoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoLogin</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Servlet</filter-name>
    <filter-class>com.ama.filter.ServletFilter</filter-class>
    <init-param>
      <param-name>includeServlets</param-name>
      <param-value>/</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Servlet</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.ama.common.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addFactory</servlet-name>
    <servlet-class>com.ama.servlet.addFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFactory</servlet-name>
    <url-pattern>/addFactory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editFactory</servlet-name>
    <servlet-class>com.ama.servlet.editFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editFactory</servlet-name>
    <url-pattern>/editFactory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transactionGoods</servlet-name>
    <servlet-class>com.ama.servlet.transactionGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactionGoods</servlet-name>
    <url-pattern>/transactionGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>maintainConsumer</servlet-name>
    <servlet-class>com.ama.servlet.maintainConsumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>maintainConsumer</servlet-name>
    <url-pattern>/maintainConsumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>maintainGoods</servlet-name>
    <servlet-class>com.ama.servlet.maintainGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>maintainGoods</servlet-name>
    <url-pattern>/maintainGoods</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.action</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>No direct JSP access</display-name>
    <web-resource-collection>
      <web-resource-name>No-JSP</web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>no-users</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Don't assign users to this role</description>
    <role-name>no-users</role-name>
  </security-role>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
</web-app>